body{
    background-color: #525659;
}
.back-page{
    background-color: #e4dfdc;
    width:728px;
    height:900px;
    margin:0 auto;
    box-shadow: 0px 0px 20px 3px #000;
    position:relative;
    overflow: hidden;
}
.backpagelines{
    width:100%;
    height:70px;
    background-color: #fff;
    position: absolute;
    transform: rotate(-50deg);
    left: -205px;
    top: 172px;
}
.box{
    width:564px;
    height:564px;
    background-color: #37272e;
    position:relative;
    overflow: hidden;    
    margin-top: 58px;
    margin-left: 106px;
}
#boxlines{
    width:100%;
    height:70px;
    background-color: #ef377f;
    position: absolute;
    transform: rotate(-50deg);
    left: -205px;
    top: 89px;
}
#text{
    float:right;
    padding-right:44px;
    text-align: right;
}
h1{
    color: #FFF;
    margin: 0px;
    font-size: 170px;
    padding: 0px;
    font-weight: normal;
    }
h2{
    color: #EF377F;
    font-style: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 51px;
    font-weight: 100;
    margin: 0px;
    margin-top: -3px;
    line-height: 53px;
}
.about{
    position: absolute;
    bottom: 36px;
    left: 28px;
    color: #ffffff;
}
ul li{
    list-style: none;
    margin-bottom: -4px;
    font-family: Arial, Helvetica, sans-serif;
}
li:before{
    content: "";
    border-color: transparent #FFF;
    border-style: solid;
    display: block;
    left: -19px;
    top: 16px;
    position: relative;
    border-width: 5px 0px 5px 7.5px;
}